<template>
  <div class="home">
    <h1>{{ title }}</h1>
    <form>
      <input type="text" v-model="task" placeholder="Add new task">
      <input type="date" @blur="addTask" v-model="due">
    </form>
    <ul>
      <li v-for="task in tasks" :key="task.id" :class="{complated: 
        task.completed}">
        <input @click="changeCompleted(task.id)" type="checkbox" :checked=task.completed> {{ task.name }} 
        <span class="due">{{ task.due }}</span>
        <span :class="{created: task.created}">{{task.created}}</span>
      </li>
    </ul>
  </div>
</template>
<script>
import axios from 'axios'
import { assertExpressionStatement } from '@babel/types';

export default {
  name: "homeview",

  // azok az al-komponensek mennek ide amelyeket ez a komponens használ
  components: {},
  // statikus adatok
  data() {
    return {
      showCompleted
      title: "Home",
      tasks: [],
      due: new Date(new Date().getTime() + 5 * 24 * 60 * 60 * 1000).toISOString().substr(0, 10),
    };
  },

  created() { 
    axios.get(process.env.VUE_APP_API_URL)
      .then(response => this.tasks = response.data)
      .catch(err => console.log(err))
  },

  // ide jönnek azok a methodusok, függvények amiket metódus használata során akarunk használni
  methods: {
    addTask() {
      const task = {
        name: this.task,
        due: this.due,
        completed: false
      }
      axios.post(process.env.VUE_APP_API_URL, task)
        .then(response => {
          this.tasks.push(response.data)
          this.tasks = "";
        })
      .catch(err => console.log(err))
      
    },
    changeCompleted(id) {
      let task = this.tasks.find(task => task.id == id)
      task.completed = !task.completed
      // szerver kommunikáció
      axios.put(process.env.VUE_APP_API_URL, task)
        .then(response => console.log(response.data))
      .catch(err=> console.log(err))
    },
    toogleCompleted() { 
      this.showCompleted = false
    }
  },
};
</script>

// az egész osztályra alkalmazza ezt a css tulajdonságot
<style scoped>
.complated {
  text-decoration: line-through;
  font-size: 1.5rem;
  color: #4fc08d;
  border: 0;
}

h1{
  background-color: #222222;
  color: #ffffff;
  padding: 5px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  margin-top: .5rem;
}

li:hover{
  color: white;
  cursor: pointer;
  background: #4fc08d;
}

form{
  display: flex;
}

input[type=text]{
  flex-grow: 3;
  font-size: 1.5rem;
  height: 2.5rem;
}
input[type=checkbox]{
  height: 25px;
  width: 25px;
  background-color: #eee;
  cursor: pointer;
}

.home{
  margin: 20rem 15rem;
}

.created{
  font-size: .75rem;
  background: #aaa;
  color: #fff;
  padding: .25rem;
  margin-left: .25rem;
}
</style>
